<!doctype html>
<html>
<head>
{% load static %}
<meta charset="utf-8">
<title>Cargar</title>

{% include 'links.html' %}
<link rel="stylesheet" href="{% static 'css/cargar.css' %}"/>

</head>

<body>
<div id="centrar">
<nav class="barralateral">

    <div class="menu">
        <a href="{% url 'Menu' %}">
            <p>Menu</p>
        </a>
    </div>

    <a href="{% url 'Inventario' %}">
        <div class="boton">
          <img class="icon" alt="Inventario" draggable="false" src="{% static 'imagenes/inventario.png' %}">
          <p>Inventario</p>
        </div>
    </a>

    <a href="{% url 'Cargar' %}">
        <div class="seleccionado">
          <img class="icon" alt="Cargar" draggable="false" src="{% static 'imagenes/cargar.png' %}">
          <p>Cargar</p>
        </div>
    </a>

    <a href="{% url 'Clientes' %}">
        <div class="boton">
            <img class="icon" alt="Editar" draggable="false" src="{% static 'imagenes/editar.png' %}">
            <p>Editar</p>
        </div>
    </a>
    
    <a href="{% url 'Proveedores' %}">
        <div class="boton">
            <img class="icon" alt="Reservar" draggable="false" src="{% static 'imagenes/reservar.png' %}">
            <p>Reservar</p>
        </div>
    </a>

</nav>

{% include 'cabecera.html' %}

<section>
  <form name="cargarstock" id="cargarstock" method="POST">{% csrf_token %}
    <div>
        <div>Seccion: </div><input type="text" name="Seccion" required autocomplete="off">
    </div>
    <div>
        <div>Nombre: </div><input type="text" name="Nombre" required autocomplete="off">
    </div>
    <div>
        <div>Marca: </div><input type="text" name="Marca" required autocomplete="off">
    </div>
    <div>
        <div>Unidad: </div><input type="text" name="Unidad" required autocomplete="off">
    </div>
    <div>
        <div>Cantidad: </div><input type="text" name="Cantidad" required autocomplete="off">
    </div>
    <div>
        <div>Precio: </div><input type="text" name="Precio" required autocomplete="off">
    </div>
    <div>
        <div>Codigo: </div><input type="text" name="Codigo" required autocomplete="off">
    </div>
    <div>
        <div>Lote: </div><input type="text" name="Lote" required autocomplete="off">
    </div>
    <div>
        <div>Vencimiento: </div><input type="text" name="Vencimiento" required autocomplete="off">
    </div>
    <div>
        <input type="submit" name="Cargar" value="Cargar">
    </div>
  </form>
</section>

</div>
</body>
</html>
