<!doctype html>
<html>
<head>
{% load static %}
<meta charset="utf-8">
<title>Inventario</title>

<link rel="stylesheet" href="{% static 'inventario.css' %}"/>

</head>

<body>

<nav class="barralateral">

    <div class="menu">
        <a href="{% url 'Menu' %}">
            <p>Menu</p>
        </a>
    </div>

    <a href="{% url 'Inventario' %}">
        <div class="boton">
          <img class="icon" alt="Inventario" draggable="false" src="{% static 'imagenes/inventario.png' %}">
          <p>Inventario</p>
        </div>
    </a>

    <a href="{% url 'Cargar' %}">
        <div class="seleccionado">
          <img class="icon" alt="Cargar" draggable="false" src="{% static 'imagenes/cargar.png' %}">
          <p>Cargar</p>
        </div>
    </a>

    <a href="{% url 'Clientes' %}">
        <div class="boton">
            <img class="icon" alt="Editar" draggable="false" src="{% static 'imagenes/editar.png' %}">
            <p>Editar</p>
        </div>
    </a>
    
    <a href="{% url 'Proveedores' %}">
        <div class="boton">
            <img class="icon" alt="Reservar" draggable="false" src="{% static 'imagenes/reservar.png' %}">
            <p>Reservar</p>
        </div>
    </a>

</nav>

<header class="cabecera">
    <div class="cabeceraContenido">
    <div class="titulo">
        {{ user.get_username }}
    </div>
    <a href="{% url 'Salir' %}">
        <img class="iconCabecera" alt="Salir" draggable="false" src="{% static 'imagenes/salir.png' %}">
    </a>
    </div>
</header>

<section>
    <div class="tabla">
    <div>
        <table class="cargastock">
            <form name="cargarstock" id="cargarstock" method="POST">{% csrf_token %}
            <tr>
                <td>Cargar Stock</td>
            </tr>
            <tr>
                <td><input type="text" name="Seccion" placeholder="Seccion" required autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="text" name="Nombre" placeholder="Nombre" required autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="text" name="Marca" placeholder="Marca" required autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="text" name="Unidad" placeholder="Unidad" required autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="text" name="Cantidad" placeholder="Cantidad" required autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="text" name="Precio" placeholder="Precio" required autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="text" name="Codigo" placeholder="Codigo" autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="text" name="Lote" placeholder="Lote" autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="submit" name="Cargar" value="Cargar"></td>
            </tr>
            </form>
        </table>
    </div>
    </div>
</section>

</body>
</html>
