<!doctype html>
<html>
<head>
{% load static %}
<meta charset="utf-8">
<title>Inventario</title>

<link rel="stylesheet" href="{% static 'inventario.css' %}"/>

</head>

<body>

<nav class="barralateral">

    <div class="menu">
        <p>Menu</p>
    </div>

    <a href="{% url 'Inventario' %}">
      <div class="boton">
        <img class="icon" alt="Inventario" draggable="false" src="{% static 'imagenes/inventario.png' %}">
        <p>Inventario</p>
      </div>
    </a>

    <a href="{% url 'Pedidos' %}">
        <div class="boton">
          <img class="icon" alt="Pedidos" draggable="false" src="{% static 'imagenes/pedidos.png' %}">
          <p>Pedidos</p>
        </div>
    </a>
    
    <a href="{% url 'Clientes' %}">
        <div class="boton">
            <img class="icon" alt="Clientes" draggable="false" src="{% static 'imagenes/clientes.png' %}">
            <p>Clientes</p>
        </div>
    </a>
    
    <a href="{% url 'Proveedores' %}">
        <div class="boton">
            <img class="icon" alt="Proveedores" draggable="false" src="{% static 'imagenes/proveedor.png' %}">
            <p>Proveedores</p>
        </div>
    </a>

    <a href="{% url 'Cotizacion' %}">
        <div class="boton">
            <img class="icon" alt="Cotización" draggable="false" src="{% static 'imagenes/cotizacion.png' %}">
            <p>Cotización</p>
        </div>
    </a>

</nav>

<header class="cabecera">
    <div class="cabeceraContenido">
    <div class="titulo">
        {{ user.get_username }}
    </div>
    <a href="{% url 'Salir' %}">
        <img class="iconCabecera" alt="Salir" draggable="false" src="{% static 'imagenes/salir.png' %}">
    </a>
    </div>
</header>

<section>
    <div class="tabla">
    <div>
	<table class="header_fijo">
        <thead>
        <tr>
            <th class="seccion">Seccion</th><th>Nombre</th><th>Marca</th><th>Unidad</th><th>Cantidad</th><th>Precio</th><th>Codigo</th><th>Lote</th><th>Vencimiento</th><th></th>
        </tr>
        </thead>
        <tbody>
        {% for articulo in articulos %}
            <tr><td class="seccion">{{articulo.seccion}}</td><td>{{articulo.nombre}}</td><td>{{articulo.marca}}</td><td>{{articulo.unidad}}</td><td>{{articulo.cantidad}}</td><td>{{articulo.precio}}</td><td>{{articulo.codigo}}</td><td>{{articulo.lote}}</td><td>Vencimiento</td></tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div>
        <table class="cargastock">
            <form name="cargarstock" id="cargarstock" method="POST">{% csrf_token %}
            <tr>
                <td>Cargar Stock</td>
            </tr>
            <tr>
                <td><input type="text" name="Seccion" placeholder="Seccion" required autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="text" name="Nombre" placeholder="Nombre" required autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="text" name="Marca" placeholder="Marca" required autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="text" name="Unidad" placeholder="Unidad" required autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="text" name="Cantidad" placeholder="Cantidad" required autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="text" name="Precio" placeholder="Precio" required autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="text" name="Codigo" placeholder="Codigo" autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="text" name="Lote" placeholder="Lote" autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="submit" name="Cargar" value="Cargar"></td>
            </tr>
            </form>
        </table>
    </div>
    </div>
</section>

</body>
</html>
