<!doctype html>
<html>
<head>
{% load static %}
<meta charset="utf-8">
<title>Inventario</title>

<link rel="stylesheet" href="{% static 'menu.css' %}"/>
<link rel="stylesheet" href="{% static 'seleccionado.css' %}"/>
<link rel="stylesheet" href="{% static 'inventario.css' %}"/>

</head>

<body>

<nav class="barralateral">

    <div class="menu">
        <a href="{% url 'Menu' %}">
            <p>Menu</p>
        </a>
    </div>

    <a href="{% url 'Inventario' %}">
        <div class="seleccionado">
          <img class="icon" alt="Inventario" draggable="false" src="{% static 'imagenes/inventario.png' %}">
          <p>Inventario</p>
        </div>
    </a>

    <a href="{% url 'Cargar' %}">
        <div class="boton">
          <img class="icon" alt="Cargar" draggable="false" src="{% static 'imagenes/cargar.png' %}">
          <p>Cargar</p>
        </div>
    </a>
    
    <a href="{% url 'Clientes' %}">
        <div class="boton">
            <img class="icon" alt="Editar" draggable="false" src="{% static 'imagenes/editar.png' %}">
            <p>Editar</p>
        </div>
    </a>
    
    <a href="{% url 'Proveedores' %}">
        <div class="boton">
            <img class="icon" alt="Reservar" draggable="false" src="{% static 'imagenes/reservar.png' %}">
            <p>Reservar</p>
        </div>
    </a>

</nav>

{% include 'cabecera.html' %}

<section>
    <div class="tabla">
	<table class="header_fijo">
        <thead>
        <tr>
            <th>Codigo</th><th>Nombre</th><th>Marca</th><th>Unidad</th><th>Cantidad</th><th>Precio</th><th>Lote</th><th>Vencimiento</th><th>Seccion</th><th></th>
        </tr>
        </thead>
        <tbody>
        {% for articulo in articulos %}
            <tr><td>{{articulo.codigo}}</td><td>{{articulo.nombre}}</td><td>{{articulo.marca}}</td><td>{{articulo.unidad}}</td><td>{{articulo.cantidad}}</td><td>{{articulo.precio}}</td><td>{{articulo.lote}}</td><td>Vencimiento</td><td>{{articulo.seccion}}</td></tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</section>

</body>
</html>
