<!doctype html>
<html>
<head>
{% load static %}
<meta charset="utf-8">
<title>Menu</title>

{% include 'links.html' %}

</head>

<body>
<div id="centrar">
<nav class="barralateral">

    <div class="menu">
        <p>Menu</p>
    </div>

    <a href="{% url 'Inventario' %}">
      <div class="boton">
        <img class="icon" alt="Inventario" draggable="false" src="{% static 'imagenes/inventario.png' %}">
        <p>Inventario</p>
      </div>
    </a>

    <a href="{% url 'Pedidos' %}">
        <div class="boton">
          <img class="icon" alt="Pedidos" draggable="false" src="{% static 'imagenes/pedidos.png' %}">
          <p>Pedidos</p>
        </div>
    </a>
    
    <a href="{% url 'Clientes' %}">
        <div class="boton">
            <img class="icon" alt="Clientes" draggable="false" src="{% static 'imagenes/clientes.png' %}">
            <p>Clientes</p>
        </div>
    </a>
    
    <a href="{% url 'Proveedores' %}">
        <div class="boton">
            <img class="icon" alt="Proveedores" draggable="false" src="{% static 'imagenes/proveedor.png' %}">
            <p>Proveedores</p>
        </div>
    </a>

    <a href="{% url 'Cotizacion' %}">
        <div class="boton">
            <img class="icon" alt="Cotización" draggable="false" src="{% static 'imagenes/cotizacion.png' %}">
            <p>Cotización</p>
        </div>
    </a>

</nav>

{% include 'cabecera.html' %}

<section>
    Estas en el menu
</section>

</div>
</body>
</html>
