<!doctype html>
<html>
<head>
{% load static %}
<meta charset="utf-8">
<title>Stock</title>

<link rel="stylesheet" href="{% static 'stock.css' %}"/>

</head>

<body>
<header>
    <div class="cabecera">
    <img id="logo" alt="Logo" draggable="false" src="{% static 'imagenes/logo-tradesal.png' %}">
    <div class="titulo">Sistema de Gestion Integral - Empresa de productos alimenticios - Tel. 12 3456 7890 Email. info@tradesal.com - Pilar, Bs as. | <a id="prueba">{{ user.get_username }}</a></div>
    </div>
</header>

<nav id="barralateral">

    <a href="{% url 'Stock' %}">
      <div>
        <img class="icon" alt="Stock" draggable="false" src="{% static 'imagenes/stock.png' %}">
        <p>Stock</p>
      </div>
    </a>

    <a href="{% url 'Pedidos' %}">
        <div>
          <img class="icon" alt="Pedidos" draggable="false" src="{% static 'imagenes/pedidos.png' %}">
          <p>Pedidos</p>
        </div>
    </a>
    
    <a href="{% url 'Clientes' %}">
        <div>
            <img class="icon" alt="Clientes" draggable="false" src="{% static 'imagenes/clientes.jpg' %}">
            <p>Clientes</p>
        </div>
    </a>
    
    <a href="{% url 'Proveedores' %}">
        <div>
            <img class="icon" alt="Proveedores" draggable="false" src="{% static 'imagenes/proveedor.png' %}">
            <p>Proveedores</p>
        </div>
    </a>

    <a href="{% url 'Cotizacion' %}">
        <div>
            <img class="icon" alt="Cotización" draggable="false" src="{% static 'imagenes/cotizacion.jpg' %}">
            <p>Cotización</p>
        </div>
    </a>
    
    <a href="{% url 'Salir' %}">
        <div>
            <img class="icon" alt="Salir" draggable="false" src="{% static 'imagenes/salir.png' %}">
            <p>Salir</p>
        </div>
    </a>

</nav>

<section>
    <table>

    </table>
    <div id="tabla">
    <div>
	<table class="header_fijo">
        <thead>
        <tr>
            <th>Seccion</th><th>Nombre</th><th>Marca</th><th>Unidad</th><th>Cantidad</th><th>Precio</th><th>Codigo</th><th>Lote</th><th>Vencimiento</th>
        </tr>
        </thead>
        <tbody>
        {% for articulo in articulos %}
            <tr><td>{{articulo.seccion}}</td><td>{{articulo.nombre}}</td><td>{{articulo.marca}}</td><td>{{articulo.unidad}}</td><td>{{articulo.cantidad}}</td><td>{{articulo.precio}}</td><td>{{articulo.codigo}}</td><td>{{articulo.lote}}</td><td>Vencimiento</td></tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div>
        <table class="cargastock">
            <form name="cargarstock" id="cargarstock" method="POST">{% csrf_token %}
            <tr>
                <td>Cargar Stock</td>
            </tr>
            <tr>
                <td><input type="text" name="Seccion" placeholder="Seccion" required autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="text" name="Nombre" placeholder="Nombre" required autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="text" name="Marca" placeholder="Marca" required autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="text" name="Unidad" placeholder="Unidad" required autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="text" name="Cantidad" placeholder="Cantidad" required autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="text" name="Precio" placeholder="Precio" required autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="text" name="Codigo" placeholder="Codigo" autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="text" name="Lote" placeholder="Lote" autocomplete="off"></td>
            </tr>
            <tr>
                <td><input type="submit" name="Cargar" value="Cargar"></td>
            </tr>
            </form>
        </table>
    </div>
    </div>
</section>

</body>
</html>
