<!doctype html>
<html>
<head>
{% load static %}
<meta charset="utf-8">
<title>Inventario | Cargar</title>

{% include 'links.html' %}
<link rel="stylesheet" href="{% static 'css/cargar.css' %}"/>
<link rel="stylesheet" href="{% static 'css/inventario.css' %}"/>

</head>

<body>
<div id="centrar">
<nav class="barralateral">

    <div class="menu">
        <a href="{% url 'Menu' %}">
            <p>Menu</p>
        </a>
    </div>

    <a href="{% url 'Inventario' %}">
        <div class="boton">
          <img class="icon" alt="Inventario" draggable="false" src="{% static 'imagenes/inventario.png' %}">
          <p>Inventario</p>
        </div>
    </a>

    <a href="{% url 'Cargar' %}">
        <div class="seleccionado">
          <img class="icon" alt="Cargar" draggable="false" src="{% static 'imagenes/cargar.png' %}">
          <p>Cargar</p>
        </div>
    </a>

    <a href="{% url 'Editar' %}">
        <div class="boton">
            <img class="icon" alt="Editar" draggable="false" src="{% static 'imagenes/editar.png' %}">
            <p>Editar</p>
        </div>
    </a>
    
    <a href="{% url 'Reservar' %}">
        <div class="boton">
            <img class="icon" alt="Reservar" draggable="false" src="{% static 'imagenes/reservar.png' %}">
            <p>Reservar</p>
        </div>
    </a>

    <a href="{% url 'Historial' %}">
        <div class="boton">
            <img class="icon" alt="Historial" draggable="false" src="{% static 'imagenes/historial.png' %}">
            <p>Historial</p>
        </div>
    </a>

</nav>

{% include 'cabecera.html' %}

<section>
  <form name="ingresostock" id="ingresostock" method="POST">{% csrf_token %}
    
    <div class="ingresocaja">
        <div>Ingreso</div>
        <div><p>Fecha: &nbsp;</p><input type="text" name="Fecha" placeholder="(opcional) aaaa-mm-dd" autocomplete="off"></div>
        <div><p>Codigo: &nbsp;</p><input type="text" name="Codigo" required autocomplete="off"></div>
        <div><p>Descripcion: &nbsp;</p><input type="text" name="Descripcion" required autocomplete="off"></div>
        <div><p>Marca: &nbsp;</p><input type="text" name="Marca" required autocomplete="off"></div>
        <div><p>Medida: &nbsp;</p><input type="text" name="Medida" required autocomplete="off"></div>
        <div><p>Cantidad: &nbsp;</p><input type="text" name="Cantidad" required autocomplete="off"></div>
        <div><p>Lote: &nbsp;</p><input type="text" name="Lote" required autocomplete="off"></div>
        <div><p>Vencimiento: &nbsp;</p><input type="text" name="Vencimiento" placeholder="aaaa-mm-dd" required autocomplete="off"></div>
        <div><p>Deposito: &nbsp;</p><input type="text" name="Deposito" required autocomplete="off"></div>
        <div><input type="submit" name="Ingresar" value="Ingresar"></div>
    </div>
  </form>

  <form name="ingresostock" id="ingresostock" method="POST">{% csrf_token %}
    
    <div class="ingresocaja">
        <div>Egreso</div>
        <div><p>Fecha: &nbsp;</p><input type="text" name="Fecha" placeholder="(opcional) aaaa-mm-dd" autocomplete="off"></div>
        <div><p>Codigo: &nbsp;</p><input type="text" name="Codigo" required autocomplete="off"></div>
        <div><p>Cantidad: &nbsp;</p><input type="text" name="Cantidad" required autocomplete="off"></div>
        <div><p>Deposito: &nbsp;</p><input type="text" name="Deposito" required autocomplete="off"></div>
        <div><input type="submit" name="Retirar" value="Retirar"></div>
    </div>
  </form>

  <form name="ingresostock" id="ingresostock" method="POST">{% csrf_token %}
    
    <div class="ingresocaja">
        <div>Buscador de articulos</div>
        <div><p>Codigo: &nbsp;</p><input type="text" name="Codigo" autocomplete="off"></div>
        <div><p>Descripcion: &nbsp;</p><input type="text" name="Descripcion" autocomplete="off"></div>
        <div><p>Marca: &nbsp;</p><input type="text" name="Marca" autocomplete="off"></div>
        <div><p>Medida: &nbsp;</p><input type="text" name="Medida" autocomplete="off"></div>
        <div><p>Lote: &nbsp;</p><input type="text" name="Lote" autocomplete="off"></div>
        <div><p>Deposito: &nbsp;</p><input type="text" name="Deposito" autocomplete="off"></div>
        <div><input type="submit" name="Buscar" value="Buscar"></div>
    </div>
  </form>

</section>

<section>
    <div class="tabla">
        <div class="header">
        <table>
            <tr>
                <td>Codigo</td>
                <td>Descripcion</td>
                <td>Marca</td>
                <td>Medida</td>
                <td>Cantidad</td>
                <td>Lote</td>
                <td>Vencimiento</td>
                <td>Deposito</td>
            </tr>
        </table>
        </div>
        <div class="content">
        <table>
            <tbody>
                {% for historial in historiales %}
                <tr>
                    <td>{{historial.codigo}}</td>
                    <td>{{historial.descripcion}}</td>
                    <td>{{historial.marca}}</td>
                    <td>{{historial.medida}}</td>
                    <td>{{historial.cantidad}}</td>
                    <td>{{historial.lote}}</td>
                    <td>{{historial.vencimiento}}</td>
                    <td>{{historial.deposito}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</section>


</div>
</body>
</html>
