<!doctype html>
<html>
<head>
{% load static %}
<meta charset="utf-8">
<title>Inventario | Historial</title>

{% include 'links.html' %}
<link rel="stylesheet" href="{% static 'css/historial.css' %}"/>

</head>

<body>
<div id="centrar">
<nav class="barralateral">

    <div class="menu">
        <a href="{% url 'Menu' %}">
            <p>Menu</p>
        </a>
    </div>

    <a href="{% url 'Inventario' %}">
        <div class="boton">
          <img class="icon" alt="Inventario" draggable="false" src="{% static 'imagenes/inventario.png' %}">
          <p>Inventario</p>
        </div>
    </a>

    <a href="{% url 'Cargar' %}">
        <div class="boton">
          <img class="icon" alt="Cargar" draggable="false" src="{% static 'imagenes/cargar.png' %}">
          <p>Cargar</p>
        </div>
    </a>
    
    <a href="{% url 'Editar' %}">
        <div class="boton">
            <img class="icon" alt="Editar" draggable="false" src="{% static 'imagenes/editar.png' %}">
            <p>Editar</p>
        </div>
    </a>
    
    <a href="{% url 'Reservar' %}">
        <div class="boton">
            <img class="icon" alt="Reservar" draggable="false" src="{% static 'imagenes/reservar.png' %}">
            <p>Reservar</p>
        </div>
    </a>

    <a href="{% url 'Historial' %}">
        <div class="seleccionado">
            <img class="icon" alt="Historial" draggable="false" src="{% static 'imagenes/historial.png' %}">
            <p>Historial</p>
        </div>
    </a>

</nav>

{% include 'cabecera.html' %}

<section>
    <div class="tabla">
        <div class="header">
        <table>
            <tr>
                <td>Fecha</td>
                <td>Operacion</td>
                <td>Codigo</td>
                <td>Descripcion</td>
                <td>Marca</td>
                <td>Medida</td>
                <td>Cantidad</td>
                <td>Lote</td>
                <td>Vencimiento</td>
                <td>Deposito</td>
                <td>Remito</td>
                <td>Usuario</td>
            </tr>
        </table>
        </div>
        <div class="content">
        <table>
            <tbody>
                {% for historial in historiales %}
                <tr>
                    <td>{{historial.fecha}}</td>
                    {% if historial.operacion == "INGRESO" %}
                    <td class="ingreso">{{historial.operacion}}</td>
                    {% else %}
                    <td class="egreso">{{historial.operacion}}</td>
                    {% endif %}
                    <td>{{historial.codigo}}</td>
                    <td>{{historial.descripcion}}</td>
                    <td>{{historial.marca}}</td>
                    <td>{{historial.medida}}</td>
                    <td>{{historial.cantidad}}</td>
                    <td>{{historial.lote}}</td>
                    <td>{{historial.vencimiento}}</td>
                    <td>{{historial.deposito}}</td>
                    <td>{{historial.remito}}</td>
                    <td>{{historial.usuario}}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</section>
</div>
</body>
</html>
