@charset "utf-8";
/* CSS Document */

/* Nueva tabla */

.tabla {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 1225px;
    text-align: center;
    justify-content: flex-end;
}

table {
    border-collapse: collapse;
}

.header {
    background-color: #332f2f;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: #FDFDFD;
}

.header table td {
    height:40px;
    width: 100px;
    max-width: 100px;
    border-right: 1px solid transparent;
}

.content {
    height: 600px;
    overflow-y: scroll;
    word-wrap: break-word;
    background-color: #d4d4d4;
}

.content td {
    border-collapse: collapse;
    border: 1px solid #afafaf;
    font-size: 12px;
    width: 100px;
    max-width: 100px;
    height: 25px;
}

.content tr:nth-child(even) {
    background-color: #c9c9c9;
}

.content tr:nth-child(odd) {
    background-color: #dbdbdb;
}

.content td.ingreso {
    background-color: green;
    color:white;
}

.egreso {
    background-color: red;
    color:white;
}