@charset "utf-8";
/* CSS Document */

* {
    padding:0;
    margin:0;
    font-size: 100%;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /*background-color: #535a5a;*/
    background: url("/static/imagenes/fondo.jpg");
    /*background-image: linear-gradient(to Right,#e65b1b,#941073);*/
	background-size: cover;
    background-attachment:fixed;
}

#centrar {
    width: 1400px;
    height: 700px;
    margin:auto;
    margin-top: 1%;
    background-image: linear-gradient(to Right,#e65b1b,#941073);
    border: 2px solid black;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 5px 5px 20px black;
}

/* Barra lateral */

.barralateral {
    float:left;
    padding:0;
    width:150px;
    height: 640px;
    /* background-image: linear-gradient(to Bottom,#555555,#1d1d1d); */

}

.barralateral .menu {
    color: whitesmoke;
    /* background-image: linear-gradient(to Bottom,#158f05,#024202); */
    background-image: linear-gradient(to Bottom,#333333,#111111);
    height:40px;
    text-align: center;
    user-select: none;
}

.barralateral .menu:hover {
    cursor: pointer;
}

.barralateral .menu p {
    padding-top: 10px;
    font-size: 20px;
}

.barralateral .icon{
    width:50px;
    filter: invert(90%);
}

a:link, a:visited {
    text-decoration: none;
    color:whitesmoke;
}

.boton {
    /*background-image: linear-gradient(to Bottom,#268626,#144617);*/
    background-image: linear-gradient(to Bottom,#919191,#3a3a3a);
    text-align: center;
    margin: 12px;
    padding-top: 10px;
    padding-bottom: 1px;
    transition: 0.5s ease-in-out 0.05s;
    width:120px;
    border:none;
    border-radius: 5px;
    border: 2px double #222222;
}

.boton:hover {
    transform: scale(1.1);
    border-radius: 0px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.seleccionado {
    /* background-image: linear-gradient(to top,#3cdb3c,#28832e); */
    background-image: linear-gradient(to Bottom,#268626,#144617);
    text-align: center;
    margin: 12px;
    padding-top: 10px;
    padding-bottom: 1px;
    transition: 0.5s ease-in-out 0.05s;
    width:120px;
    border: 2px outset #222222;
    transform: scale(1.1);
    border-radius: 0px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

/* Fin barra lateral*/

/* Cabecera */

.cabecera {
    /*background-image: linear-gradient(to Bottom,#3eb433,#0b8111);*/
    background-image: linear-gradient(to Bottom,#919191,#3a3a3a);
    /* width: calc(100% - 150px); */
    width: 1250px;
    height:40px;
    margin-left: 150px;
}

.cabeceraContenido {
    display: flex;
    margin-left: calc(100% - 150px);
}

.cabecera .titulo {
    color: whitesmoke;
    font-size: large;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.iconCabecera {
    padding-top: 10px;
    padding-right: 30px;
    width:20px;
}

/* Fin cabecera */