@charset "utf-8";
/* CSS Document */

/* Reset css*/
body{
    padding:0;
    margin:0;
    font-size: 100%;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #4882b0;*/
    background-image: linear-gradient(to left Bottom,#6aabe0,teal);
}

/* Cabecera */
#prueba{
    color:black;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0px 0px 20px white;
}

.cabecera {
    display:flex;
 }

header {
    background-image: linear-gradient(to Bottom,olive,#444);
    width:1400px;
    height:75px;
}

header div.titulo {
    color: white;
    font-size: large;
    text-align: left;
    padding-left: 20px;
    padding-top: 30px;
    text-shadow: 2px 5px 10px black;
}

/* Fin cabecera */

/* Tabla Excel */
#tabla {
    display: flex;
}

/*
#contenido {
    table-layout: fixed;
    border-collapse: collapse;
    background-color:rgb(202, 202, 202);
    padding:0;
    margin:0;
	height:530px;
    width:1000px;
    overflow-y: auto;
    overflow-x: auto;
    transition: 0.5s ease-in-out 0.05s;
}*/

.header_fijo {
    margin-top: 10px;
    margin-left: 5px;
    width: 900px;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}

.header_fijo thead {
    background-color: #333;
    color: #FDFDFD;
}

.header_fijo thead tr {
    display: block;
    position: relative;
}

.header_fijo tbody {
    font-size: 12px;
    display: block;
    overflow: auto;
    width: 100%;
    height: 563px;
    background-color: #999;
}

.header_fijo th {
    text-align: center;
    width:150px;
    height:40px;
    border:1px solid black;
}

.header_fijo td {
    text-align: center;
    width:100px;
    height: 40px;
    border: 1px solid black;
    border-top: none;
    padding-left: 10px;
    padding-right: 10px;
}

.cargastock {
    padding-top: 10px;
    padding-left: 10px;
    text-align: center;
}

/* Fin tabla Excel */


/* Barra lateral */

nav {
    float:left;
    margin-right:20px;
    padding:0;
    width:124px;
}

.icon{
	width:50px;
}

a:link {
    text-decoration: none;
    color:#333;
}

a:visited {
    text-decoration: none;
    color:#333;
}

a{
    width: 100%;
    height: 100%;
}

nav div {
    background-image: linear-gradient(to left bottom,#999,white);
    text-align: center;
    margin: 10px;
    transition: 0.5s ease-in-out 0.05s;
    width:100%;
    border:none;
    border-radius: 5px;
}
nav:hover + div{
    /*background-image: linear-gradient(right top,#333,rgb(9, 3, 97));*/
    background-color: #6aabe0;
    /*cursor:pointer;  */ 
}
/* Fin barra lateral*/
