@charset "utf-8";
/* CSS Document */

/* Tabla */
.tabla {
    display: flex;
    table-layout: fixed;
}

.header_fijo {
    table-layout: fixed;
    margin-top: 0px;
    width: 1150px;
    border-collapse: collapse;
    border-radius: 5px;
    /* overflow: hidden; */
    overflow: scroll;
}

.header_fijo thead {
    background-color: #333;
    background-image: linear-gradient(to Bottom,#333333,#1d1d1d);
    color: #FDFDFD;
    display: block;
}

.header_fijo thead tr {
    position: relative;
}

.header_fijo tbody tr:nth-child(even) {
    background-color: #c9c9c9;
}

.header_fijo tbody {
    font-size: 11px;
    display: block;
    overflow: auto;
    width: 100%;
    height: 560px;
    background-color: #dbdbdb;
}

.header_fijo th {
    text-align: center;
    width:100px;
    max-width:100px;
    height:40px;
    border-right:1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
}

.header_fijo th:last-child {
    border:1px solid transparent;
    width:0px;
}

.header_fijo td {
    text-align: center;
    width: 100px;
    max-width: 100px;
    width:calc(100% / 9);
    height: 40px;
    border: 1px solid #afafaf;
    border-top: none;
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
}

.header_fijo td:last-child {
    border-right: 0px solid transparent;
    width:15px;
}

.cargastock {
    padding-top: 10px;
    padding-left: 10px;
    text-align: center;
}

/* Fin tabla */

